<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta name="theme-color" content="#ffa303"/>
    <link rel="manifest" href="/manifest.json">
    <link href="/favicon.png" type="image/png" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <title>
      {% block title %}?{% endblock %} | Hirschbestellung
    </title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    {% include "navigation.html.twig" %}
    <main class="main">
      <div class="content">
        {% for message in app.flashes('success') %}
            <div class="message success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="message error">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
      </div>
      <span id="order-until" data-controller="orderuntil"></span>
    </main>
    <ul class='custom-menu'>
    </ul>
    <div id="preorderModal" class="modal" data-controller="modal">
      <div class="modal-content">
        <span class="close material-icons" data-modal-target="close">close</span>
        <h2>Vorbestellen</h2>
        <input readonly="readonly" type="text" class="datepicker flatpickr flatpickr-input" placeholder="Datum auswählen">
        <br>
        <br>
        <a href="#" id="preorderLink" class="btn">Datum wählen</a>
        <span style="display: none" id="preorderSlug"></span>
      </div>
    </div>
    <div id="informationModal" class="modal" data-controller="modal">
      <div class="modal-content">
        <span class="close material-icons" data-modal-target="close">close</span>
        <p id="informationModalText">Lorem Schwippsum</p>
      </div>
    </div>
    <div id="orderedModal" class="modal" data-controller="modal">
      <div class="modal-content">
        <span class="close material-icons" data-modal-target="close">close</span>
        <h2 id="orderedModalTitle">Bestellung</h2>
        <p id="orderedModalText">Bestellung</p>
      </div>
    </div>
  </body>
</html>
