{% extends 'base.html.twig' %}

{% block metas %}
    <link rel="prefetch" href="{{ path('orders') }}">
{% endblock %}

{% block title %}{{ 'menu.titles.overview'|trans }}{% endblock %}

{% block body %}
    <div class="ui accordion" data-controller="accordion">
        <div class="title"><i class="dropdown icon"></i>{{ 'menu.to_go'|trans }}</div>

        <div class="content">
            <turbo-frame id="menu" src="{{path("menuTurbo")}}" target="_top">
                <div class="loading">
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </turbo-frame>
        </div>
    </div>

        <button class="accordion">{{ 'menu.lunch'|trans }}</button>

        <div class="panel">
            <turbo-frame id="dailyFood" src="{{path("tagesessenTurbo")}}" target="_top">
                <div class="loading">
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </turbo-frame>
        </div>
    </div>
{% endblock %}
