{% extends 'base.html.twig' %}

{% block title %}{{ 'menu.titles.overview'|trans }}{% endblock %}

{% block body %}
    <div class="accordion-list">
        <button class="accordion body-medium" data-controller="accordion">{% if menu_disabled %}{{ 'menu.to_go_disabled'|trans }}{% else %}{{ 'menu.to_go'|trans }}{% endif %}</button>

        <div class="panel" id="menu_panel">
            <turbo-frame id="menu" src="{{path('api_menu')}}" target="_top">
                <div class="loading">
                    <div class="lds-ellipsis">
                        <div class="tertiary"></div>
                        <div class="tertiary"></div>
                        <div class="tertiary"></div>
                        <div class="tertiary"></div>
                    </div>
                </div>
            </turbo-frame>
        </div>

        <button class="accordion body-medium" data-controller="accordion">{{ 'menu.lunch'|trans }}</button>

        <div class="panel" id="tagesessen_panel">
            <turbo-frame id="dailymenu" src="{{path('tagesessen')}}" target="_top">
                <div class="loading">
                    <div class="lds-ellipsis">
                        <div class="tertiary"></div>
                        <div class="tertiary"></div>
                        <div class="tertiary"></div>
                        <div class="tertiary"></div>
                    </div>
                </div>
            </turbo-frame>
        </div>
    </div>
{% endblock %}
