{% extends 'base.html.twig' %}
{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
    <link rel="prefetch" href="{{ path('paynow') }}">
{% endblock %}

{% block title %}{{ 'order.ordering'|trans }}{% endblock %}

{% block body %}
    <h2 class="title-large on-primary-container-text">{{meal.name}}</h2>
    <small class="label-small on-primary-container-text">{{ 'order.order_date'|trans }} {{order_date|format_datetime('long', 'none', locale='de')}}</small>
    <br>
    <br>
    {{form(form)}}

    <datalist id="wishlist">
        <option value="+ Pommes"></option>
        <option value="+ Senf"></option>
        <option value="+ Mayonnaise"></option>
        <option value="+ Ketchup"></option>
        <option value="Extra Soße"></option>
    </datalist>
{% endblock %}
