{% extends 'base.html.twig' %}
{% block metas %}
    <meta name="turbo-cache-control" content="no-preview">
{% endblock %}

{% block title %}{{ 'order.orders'|trans }}{% endblock %}

{% block body %}
    <h2 class="display-small on-surface-text">{{ 'order.todays_orders'|trans }}</h2>

    <label>
        <turbo-frame id="orders_area" src="{{path('api_orders')}}">
            <textarea class="orderarea on-surface-text" rows="1" readonly="" id="orders">{{ 'order.loading_orders'|trans }}</textarea>
        </turbo-frame>
    </label>

    <button class="accordion" data-controller="accordion">
        {{ 'order.order_persons'|trans }} ({{ orderNameList | length }})
    </button>

    <div class="panel">
        {% for order in orderNameList %}
        <div class="displayName body-medium on-surface-text">
            <span>
                <span
                    class="material-icons primary-text"
                    style="cursor: pointer;"
                    data-name="{{order.orderedby}}"
                    data-ordered="{{order.name}}"
                    data-special="{{order.note}}"
                    data-controller="orderdisplay">
                    restaurant
                </span>

                {{ order.orderedby }}

                {% if order.orderedby == ordererName %}
                    <a href="{{path("order_delete", {id: order.id})}}" class="material-icons btn secondary-text">
                        delete_forever
                    </a>
                {% endif %}
            </span>
        </div>
        {% endfor %}
    </div>

    {% if preorders | length > 0 %}
        <button class="accordion" data-controller="accordion">
            {{ 'order.pre_orders'|trans }} ({{ preorders | length }})
        </button>

        <div class="panel body-medium on-surface-text">
            {% for order in preorders %}
                <h2>{{ order.for_date|format_datetime('long', 'none', locale='de') }}</h2>{{ order.cnt }}x {{ order.name }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
