{% extends 'base.html.twig' %}

{% block title %}{{ 'pay.pay'|trans }}{% endblock %}

{% block body %}
    <h2 class="title-large on-surface-text">{{  'pay.paypalierer'|trans }}</h2>

    <form method="POST" data-turbo="false">
        <div class="range-slider" data-controller="tipslider">
            <h4 class="title-medium on-surface-text">{{ 'pay.tip'|trans }}:</h4>

            <input
                max="5"
                min="0"
                name="tip"
                step="0.1"
                type="range"
                class="range-slider__range"
                value="0.5"
                data-tipslider-target="input">

            <span class="range-slider__value label-large" data-tipslider-target="display"></span>
        </div>

        {% for paypalme in paypalmes %}
            <div class="paypalmeslistitemcontainer">
                <div class="paypalmeslistitem{% if paypalme.id == active %} active{% endif %}">
                    <button
                        value="{{ paypalme.id }}"
                        name="id"
                        type="submit"
                        formtarget="_blank"
                        class="paypalmebutton body-medium"
                        onclick="setTimeout(() => Turbo.visit('.'), 5000)"
                    >
                        {{paypalme.name}}
                    </button>
                </div>

                {% if paypalme.barOnly %}
                    <span class="label red">
                        {{ 'pay.cash_only'|trans }}
                    </span>
                {% endif %}
            </div>
        {% endfor %}
    </form>

    <p class="body-small on-secondary-container-text">
        Wenn du auch in der Liste stehen willst, kannst du dich <a href="{{path("paypal_add")}}" class="tertiary-text">hier</a> eintragen.
    </p>
{% endblock %}
