{% extends 'base.html.twig' %}

{% block title %}{{ 'holidays.titles.overview'|trans }}{% endblock %}

{% block body %}
    <h1 class="title-large on-surface-text">{{ 'holidays.titles.overview'|trans }}</h1>

    <a class="body-medium on-surface-text" href="{{ path('holidays_add') }}">
        <i class="material-icons">link</i>
        {{ 'holidays.new'|trans }}
    </a>
    <br><br>

    <div>
        {% for holiday in holidays %}
            <div>
                {{ holiday.start|format_datetime('short', 'none', locale='de') }} - {{ holiday.end|format_datetime('short', 'none', locale='de') }}
                <a href="{{path("holidays_edit", {id: holiday.id})}}">
                    {{ 'holidays.edit'|trans }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
